
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  WEBKEODUA.Models.SANPHAM
<h2>Chi tiết sản phẩm</h2>
<div class="card border-success">
    <table class="border-dark mx-3 mb-3 mt-3">
        <tr class="text-left">
            <td rowspan="5" style="width:45%">
                <img class="card-header" src="@Url.Content("~/Image/"+Model.CTSANPHAM.ANH)" style="width:100%" ; height:100%" alt="Image" />

            </td>
            <td style="width:20%">Product name:</td>
            <td style="width:35%; color:blue; font-weight:bold">@Model.TENSP</td>
        </tr>
        <tr class="text-left">
            <td>Tên loại sản phẩm:</td>
            <td style="color:blue">@Model.LOAISP.TENLOAISP</td>
        </tr>
        <tr class="text-left">
            <td>Khuyến Mãi:</td>
            <td style="color:blue">@Model.KHUYENMAI</td>
        </tr>
        <tr class="text-left">
            <td>Giá bán:</td>
            <td style="color:red; font-weight:bold">@string.Format("{0:0,0}", @Model.GIABAN) VND</td>
        </tr>
    </table>    
        <div>
            <p style="width: 300px">
                <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms=Model.MASP  ,@strURL=Request.Url.ToString()})">
                    <input type="submit" value="MUA NGAY" class="btn from-top btn-danger" />
                </a>
                <a href="@Url.Action("Index", "SanPham")">
                    <input type="submit" value="MUA TIẾP" class="btn btn-primary" />
                </a>
            </p>
        </div>

</div>



