@model WEBKEODUA.Models.KHACHHANG
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div id="form-register">
            @using (Html.BeginForm("Dangky", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <table>
                    <tr class="title-form">
                        <th colspan="2">
                            Đăng Ký
                        </th>
                    </tr>
                    <tr>
                        <td>
                        <label>Tên Khách</label>
                        @*@Html.LabelFor(m => m.TENKHACH)*@</td>
                        <td>@Html.TextBoxFor(m => m.TENKHACH)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.TENKHACH)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Giới Tính</label>
                        @*@Html.LabelFor(m => m.GIOITINH)*@</td>
                        <td>@Html.TextBoxFor(m => m.GIOITINH)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.GIOITINH)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Độ Tuổi</label>
                        @*@Html.LabelFor(m => m.TUOI)*@</td>
                        <td>@Html.TextBoxFor(m => m.TUOI)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.TUOI)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @if (ViewBag.error != null)
                            {
                                <span class="field-validation-error">@ViewBag.error</span>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td><label>Ngày Sinh</label>
    @*@Html.LabelFor(m => m.NGAYSINH)*@</td>
                        <td>@Html.TextBoxFor(m => m.NGAYSINH)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.NGAYSINH)
                        </td>
                    </tr>

                    <tr>
                        <td><label>Nghề nghiệp</label>
    @*@Html.LabelFor(m => m.NGHENGHIEP)*@</td>
                        <td>@Html.TextBoxFor(m => m.NGHENGHIEP)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.NGHENGHIEP)
                        </td>
                    </tr>
                   
                    <tr>
                        <td><label>Số điện thoại</label>
    @*@Html.LabelFor(m => m.SDT)*@</td>
                        <td>@Html.TextBoxFor(m => m.SDT)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(m => m.SDT)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btn btn-danger" value="Register" />
                            <a href="@Url.Action("Login","Home")" class="btn btn-primary">Login</a>

                        </td>
                    </tr>

                </table>
            }
        </div>
    </div>
